<div class="menu-lateral">
  <a (click)="irA('introduccion')">- Introducción</a>
  <a (click)="irA('estudios')">- Estudios</a>
  <a (click)="irA('habilidades')">- Habilidades</a>
</div>

<section class="layout">
  <aside class="perfil-imagen">
    <img class="foto-perfil" src="/perfil.png" alt="Imagen de perfil" />

    <div class="perfil-info">
      <div class="ubicacion">
        <img src="/map-pin.png" alt="Ubicación" />
        <span>Argentina / Bs. As.</span>
      </div>

      <div class="idiomas">
        <span>Español</span>
        <span>Inglés</span>
      </div>
    </div>
  </aside>

  <main class="contenido">
    <section id="introduccion" class="perfil">
      <h1>Hola, Soy Patricio</h1>
      <h2>Desarrollador Frontend</h2>

      <p>
        Me enfoco en el desarrollo de interfaces web claras, funcionales y bien
        diseñadas. Disfruto trabajar en el frontend y cuidar tanto el código
        como la experiencia de usuario.
      </p>

      <div class="redes">
        <a href="https://github.com/IHaruI" target="_blank" class="boton-red">
          <img src="/lenguajes/github.png" alt="GitHub" />
          GitHub
        </a>

        <a
          href="https://www.linkedin.com/in/patricio-galimany-b40500303/"
          target="_blank"
          class="boton-red"
        >
          <img src="/lenguajes/linkedin.png" alt="LinkedIn" />
          LinkedIn
        </a>

        <a href="mailto:patrygaly01@gmail.com" class="boton-red">
          <img src="/lenguajes/email.png" alt="Email" />
          Email
        </a>
      </div>
    </section>

    <section id="sobre-mi" class="card">
      <h3>Sobre mí</h3>

      <p class="texto-principal">
        ¡Buenas!👋🏻 Soy un programador recibido en la Universidad Tecnológica
        Nacional Facultad Regional Avellaneda con interés en el desarrollo web
        frontend.
      </p>

      <p class="texto-secundario">
        Actualmente busco mi primera oportunidad profesional como desarrollador
        frontend donde pueda seguir aprendiendo y aportar valor al equipo.
        También tengo experiencia en backend utilizando tecnologías como C#,
        Python y PHP.
      </p>
    </section>

    <section id="estudios" class="card">
      <h3>Estudios</h3>

      <div class="estudio">
        <div class="estudio-header">
          <h4>Universidad Tecnológica Nacional (UTN)</h4>

          <span>Finalizado - Diciembre 2025</span>
        </div>

        <p>Técnico Universitario en Programación</p>
      </div>

      <div class="estudio">
        <div class="estudio-header">
          <h4>Instituto Técnico Juan Bautista Peña</h4>

          <span>2014 - 2020</span>
        </div>

        <p>Técnico en Electromecánica</p>
      </div>
    </section>

    <section id="habilidades" class="card">
      <h3>Habilidades técnicas</h3>

      <div class="categoria">
        <h4>Lenguajes de programación</h4>

        <div class="skills">
          <div class="skill">
            <img src="/lenguajes/html.png" alt="HTML5" />
            <span>HTML5</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/css-3.png" alt="CSS3" />
            <span>CSS3</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/javascript.png" alt="JavaScript" />
            <span>JavaScript</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/typescript.png" alt="TypeScript" />
            <span>TypeScript</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/csharp.png " alt="C#" />
            <span>C#</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/python.png" alt="Python" />
            <span>Python</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/php.png" alt="PHP" />
            <span>PHP</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/c.png" alt="C" />
            <span>C</span>
          </div>
        </div>
      </div>

      <div class="categoria">
        <h4>Tecnologías</h4>

        <div class="skills">
          <div class="skill">
            <img src="/lenguajes/angular.png" />
            <span>Angular</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/react.png" />
            <span>React</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/bootstrap.png" />
            <span>Bootstrap</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/firebase.png" />
            <span>Firebase</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/docker.png" />
            <span>Docker</span>
          </div>
        </div>
      </div>

      <div class="categoria">
        <h4>Software y herramientas</h4>

        <div class="skills">
          <div class="skill">
            <img src="/lenguajes/git.png" />
            <span>Git</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/github.png" />
            <span>GitHub</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/vscode.png" />
            <span>Visual Studio Code</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/vs.png" />
            <span>Visual Studio</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/mysql.png" />
            <span>MySQL</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/sqlserver.png" />
            <span>Microsoft SQL Server</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/android-studio.png" />
            <span>Android Studio</span>
          </div>

          <div class="skill">
            <img src="/lenguajes/eclipse.png" />
            <span>Eclipse</span>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>

<footer class="footer">
  <p>
    © 2025 /
    <span class="nombre-footer">Galimany Patricio</span>
    / Todos los derechos reservados.
  </p>

  <div class="footer-redes">
    <a href="https://github.com/IHaruI" target="_blank">
      <img src="/lenguajes/github.png" alt="GitHub" />
    </a>

    <a
      href="https://www.linkedin.com/in/patricio-galimany-b40500303/"
      target="_blank"
    >
      <img src="/lenguajes/linkedin.png" alt="LinkedIn" />
    </a>

    <a href="mailto:patrygaly01@gmail.com">
      <img src="/lenguajes/email.png" alt="Email" />
    </a>
  </div>
</footer>
